<template>
  <!-- category tabs -->
  <node
    id="right_list"
    height="100%"
    aspect_ratio="1"
    flex_shrink="0"
    display="flex"
    flex_direction="column"
    row_gap="0.5vh"
  >
    <image
      id="red_panel"
      src="ui/nineSlices/UIrectangleRed.png"
      image_mode="270px stretch stretch 0.2"
      width="100%"
      flex_grow="1"
      flex_basis="0px"
      min_height="0px"
      display="flex"
      justify_content="center"
      align_items="center"
    >
      <text font="fonts/rajdhani-bold.ttf" font_size="40" font_color="#AAAAAA" text_layout="center no_wrap">
        Build (Q)
      </text>
    </image>
    <image
      id="blue_panel"
      src="ui/nineSlices/UIrectangleBlue.png"
      image_mode="270px stretch stretch 0.2"
      width="100%"
      flex_grow="1"
      flex_basis="0px"
      min_height="0px"
      display="flex"
      justify_content="center"
      align_items="center"
    >
      <text font="fonts/rajdhani-bold.ttf" font_size="40" font_color="#AAAAAA" text_layout="center no_wrap">
        Unit (W)
      </text>
    </image>
    <image
      id="green_panel"
      src="ui/nineSlices/UIrectangleGreen.png"
      image_mode="270px stretch stretch 0.2"
      width="100%"
      flex_grow="1"
      flex_basis="0px"
      min_height="0px"
      display="flex"
      justify_content="center"
      align_items="center"
    >
      <text font="fonts/rajdhani-bold.ttf" font_size="40" font_color="#AAAAAA" text_layout="center no_wrap">
        Research (E)
      </text>
    </image>
  </node>
</template>
