<template>
  <!-- detail panel -->
  <node
    id="detail_panel"
    position="absolute"
    right="0"
    bottom="0%"
    width="14vw"
    height="40%"
  >
    <image
      id="detail_panel_bg"
      src="ui/nineSlices/UIrectangle1.png"
      image_mode="190px stretch stretch 0.2"
      width="100%"
      height="100%"
      display="flex"
      flex_direction="column"
      justify_content="center"
      align_items="center"
    >
      <text
        id="detail_panel_title"
        font="fonts/rajdhani-bold.ttf"
        font_size="24"
        font_color="#AAAAAA"
        text_layout="center no_wrap"
      >
        상세 정보
      </text>
    </image>
  </node>
</template>
