<template>
  <!-- options button -->
  <node
    position="absolute"
    right="1.5vw"
    top="1.5vh"
    height="7vh"
    display="flex"
    flex_direction="row"
    align_items="center"
    column_gap="1.5vw"
  >
    <image
      id="options_button"
      src="ui/nineSlices/UIbutton1.png"
      image_mode="270px stretch stretch 0.2"
      height="100%"
      aspect_ratio="1.3"
      flex_shrink="0"
      justify_content="center"
      align_items="center"
    >
      <text
        font="fonts/rajdhani-bold.ttf"
        font_size="20"
        font_color="#222222"
        text_layout="center no_wrap"
      >
        Options
      </text>
    </image>
  </node>
</template>
