<template>
  <!-- quickslot bar -->
  <node
    position="absolute"
    right=".5vw"
    bottom="25%"
    height="7vh"
    display="flex"
    flex_direction="row"
    align_items="center"
    column_gap=".5vw"
  >
    <image
      id="quickslot_1"
      src="ui/nineSlices/UIbutton1.png"
      image_mode="270px stretch stretch 0.2"
      height="100%"
      aspect_ratio="1"
      flex_shrink="0"
      justify_content="center"
      align_items="center"
    />
    <image
      id="quickslot_2"
      src="ui/nineSlices/UIbutton1.png"
      image_mode="270px stretch stretch 0.2"
      height="100%"
      aspect_ratio="1"
      flex_shrink="0"
      justify_content="center"
      align_items="center"
    />
    <image
      id="quickslot_3"
      src="ui/nineSlices/UIbutton1.png"
      image_mode="270px stretch stretch 0.2"
      height="100%"
      aspect_ratio="1"
      flex_shrink="0"
      justify_content="center"
      align_items="center"
    />
  </node>
</template>
