<template>
  <!-- resource bar -->
  <node
    position="absolute"
    left="1.5vw"
    top="1.5vh"
    height="5vh"
    display="flex"
    flex_direction="row"
    align_items="center"
    column_gap="1.5vw"
  >
    <node
      display="flex"
      flex_direction="row"
      align_items="center"
      column_gap="0.5vw"
    >
      <image
        src="ui/resourcesIcon/iconMineral.png"
        height="4vh"
        aspect_ratio="1"
        image_mode="stretch"
      />
      <text
        id="mineral_count"
        font="fonts/rajdhani-bold.ttf"
        font_size="20"
        font_color="#AAAAAA"
        text_layout="center no_wrap"
      >
        100
      </text>
    </node>
    <node
      display="flex"
      flex_direction="row"
      align_items="center"
      column_gap="0.5vw"
    >
      <image
        src="ui/resourcesIcon/iconOil.png"
        height="4vh"
        aspect_ratio="1"
        image_mode="stretch"
      />
      <text
        id="gas_count"
        font="fonts/rajdhani-bold.ttf"
        font_size="20"
        font_color="#AAAAAA"
        text_layout="center no_wrap"
      >
        100
      </text>
    </node>
    <node
      display="flex"
      flex_direction="row"
      align_items="center"
      column_gap="0.5vw"
    >
      <image
        src="ui/resourcesIcon/iconPop.png"
        height="4vh"
        aspect_ratio="1"
        image_mode="stretch"
      />
      <text
        id="power_count"
        font="fonts/rajdhani-bold.ttf"
        font_size="20"
        font_color="#AAAAAA"
        text_layout="center no_wrap"
      >
        100
      </text>
    </node>
  </node>
</template>
