<template>
  <!-- unit selection panel -->
  <image
    id="main_status_panel"
    src="ui/nineSlices/UIrectangle1.png"
    image_mode="190px stretch stretch 0.2"
    height="100%"
    flex_grow="1"
    flex_basis="0px"
    min_width="0px"
    display="grid"
    padding="20vh 2vh"
    grid_template_columns="(5, 1fr)"
    grid_auto_rows="1fr"
  >
    <node display="flex" justify_content="center" align_items="center">
      <image
        id="unit_1"
        src="ui/nineSlices/UIbutton2.png"
        height="90%"
        aspect_ratio="1"
        image_mode="stretch"
        display="flex"
        justify_content="center"
        align_items="center"
      >
        <image
          id="unit_1_icon"
          src="ui/icons/units/iconGalar.png"
          height="72%"
          aspect_ratio="1"
          image_mode="stretch"
        />
      </image>
    </node>
    <node display="flex" justify_content="center" align_items="center">
      <image
        id="unit_2"
        src="ui/nineSlices/UIbutton2.png"
        height="90%"
        aspect_ratio="1"
        image_mode="stretch"
        display="flex"
        justify_content="center"
        align_items="center"
      >
        <image
          id="unit_2_icon"
          src="ui/icons/units/iconGigas.png"
          height="72%"
          aspect_ratio="1"
          image_mode="stretch"
        />
      </image>
    </node>
    <node display="flex" justify_content="center" align_items="center">
      <image
        id="unit_3"
        src="ui/nineSlices/UIbutton2.png"
        height="90%"
        aspect_ratio="1"
        image_mode="stretch"
        display="flex"
        justify_content="center"
        align_items="center"
      >
        <image
          id="unit_3_icon"
          src="ui/icons/units/iconArtemis.png"
          height="72%"
          aspect_ratio="1"
          image_mode="stretch"
        />
      </image>
    </node>
    <node display="flex" justify_content="center" align_items="center">
      <image id="unit_4" src="ui/nineSlices/UIbutton2.png" height="90%" aspect_ratio="1" image_mode="stretch"/>
    </node>
    <node display="flex" justify_content="center" align_items="center">
      <image id="unit_5" src="ui/nineSlices/UIbutton2.png" height="90%" aspect_ratio="1" image_mode="stretch"/>
    </node>
    <node display="flex" justify_content="center" align_items="center">
      <image id="unit_6" src="ui/nineSlices/UIbutton2.png" height="90%" aspect_ratio="1" image_mode="stretch"/>
    </node>
    <node display="flex" justify_content="center" align_items="center">
      <image id="unit_7" src="ui/nineSlices/UIbutton2.png" height="90%" aspect_ratio="1" image_mode="stretch"/>
    </node>
    <node display="flex" justify_content="center" align_items="center">
      <image id="unit_8" src="ui/nineSlices/UIbutton2.png" height="90%" aspect_ratio="1" image_mode="stretch"/>
    </node>
    <node display="flex" justify_content="center" align_items="center">
      <image id="unit_9" src="ui/nineSlices/UIbutton2.png" height="90%" aspect_ratio="1" image_mode="stretch"/>
    </node>
    <node display="flex" justify_content="center" align_items="center">
      <image id="unit_all" src="ui/nineSlices/UIbutton1.png" height="90%" aspect_ratio="1" image_mode="stretch"/>
    </node>
  </image>
</template>
